mixin features()
  section.features
    .features__container.container
      h2.visually-hidden Преимущества
      ul.features__list
        li.features__item.features__item_one Пушистые и ароматные ёлочки
        li.features__item.features__item_two Наборый елочных украшений
        li.features__item.features__item_three Ёлочки сохраняют свежесть надолго
        li.features__item.features__item_four Доставим ёлочку за наш счёт