mixin header
  header.header
    .header__container.container
      +svg('#logo','Логотип компании Christmas Trees').header__logo.logo
      button.header__burger.burger
        span.burger__line
      nav.header__navigation.navigation
        ul.navigation__list
          li.navigation__item
            +link('#one', 'Пихта Фразера').navigation__link
          li.navigation__item
            +link('#two','Русская ель').navigation__link
          li.navigation__item
            +link('#three', 'Сибирская пихта').navigation__link
          li.navigation__item
            +link('#payment', 'Как оплатить?').navigation__link
      +button('Консультация', 'button').header__consultation
