mixin hero
  section.hero
    .hero__container.container
      .hero__left
        +img('../../assets/images/banner_photo.jpg', 'Красивая ёлка около камина').hero__img
      .hero__right
        h1.hero__title Встречай Новый Год с&nbsp;прекрасной живой ёлочкой!
        p.hero__description У нас в наличии только самые пушистые и свежие ёлки
        +link-img('#one','Заказать','../../assets/images/banner_bauble.png','Кнопка','hero__down-img').hero__down
