mixin product
  section#one.product
    .product__container.container
      .product__content
        h2.product__title Пихта Фразера
        p.product__features Пихта Фразера чаще использовалась в качестве рождественской ёлки Белого дома
        p.product__description Мягкий аромат, форма, и способность сохранять мягкие иголки в течение длительного времени, делают её одним из лучших деревьев для рождества
        .product__button-wrapper
          +button('Заказать','button').product__button.product__button_order
          +link('#','Подробнее').product__button.product__button_more
      +img('../../assets/images/tree_Fraser-fir.jpg', 'Пихта Фразера').product__picture
  section#two.product
    .product__container.container
      .product__content
        h2.product__title Русская ель
        p.product__features Русская ель — наиболее традиционная разновидность рождественских деревьев, которую можно встретить в большинстве советских фильмов про новый год
        p.product__description Отличительной особенностью русской ёлки являются выраженный хвойный запах, короткие колючие иголки и сравнительно менее пышная крона
        .product__button-wrapper
          +button('Заказать','button').product__button.product__button_order
          +link('#','Подробнее').product__button.product__button_more
      +img('../../assets/images/tree_Russian-spruce.jpg', 'Русская ель').product__picture
  section#three.product
    .product__container.container
      .product__content
        h2.product__title Сибирская пихта
        p.product__features Пихта сибирская является одной из самых красивых и ароматных хвойных пород и ее часто можно встретить в парках и садах
        p.product__description Хвоя Сибирской пихты в отличии от еловой крупнее, зеленее, совершенно не колючая и мягкая как трава
        .product__button-wrapper
          +button('Заказать','button').product__button.product__button_order
          +link('#','Подробнее').product__button.product__button_more
      +img('../../assets/images/tree_Siberian-fir.jpg', 'Сибирская пихта').product__picture
