*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: var(--main-color);
}

h1,
h2 {
  font-family: Cormorant, serif;
  font-weight: 700;
  font-size: 70px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

button,
input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}
