:root {
  --main-color: #ffffff;
  --second-color: #262626;
  --one-color: #00654e;
  --two-color: #006e55;
  --three-color: #005844;
  --main-bg-color: #005844;
  --second-bg-color: #c0b487;
  --trigger-color: #e6ab39;
  --url-features-one: url('../assets/images/icon_tree.svg');
  --url-features-two: url('../assets/images/icon_christmas-decorations.svg');
  --url-features-three: url('../assets/images/icon_flowers.svg');
  --url-features-four: url('../assets/images/icon_delivery-truck.svg');


}