mixin page(props)
  doctype html
  html
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href=require('../../styles/index.scss'), rel='stylesheet')
      script(src=require('../../js/index'))
      script(src=require('../../js/burger') defer)
      title= props.title
    body
      block
