include ../components/page
include ../components/global
include ../components/sprite
include ../components/overlay

include ../sections/header
include ../sections/hero
include ../sections/features
include ../sections/product
include ../sections/pay
include ../sections/footer

- var pageInfo = { title: 'Christmas Trees - Встречай Новый Год с прекрасной живой ёлочкой!' };

+page(pageInfo)
+sprite
+header
main
  +hero
  +features
  +product
  +pay
+footer
+overlay


