include ../components/page
include ../components/global
include ../components/sprite

include ../sections/header
include ../sections/hero

- var pageInfo = { title: 'Christmas Trees - Встречай Новый Год с прекрасной живой ёлочкой!' };

+page(pageInfo)
+sprite
+header
main
  +hero


